body {

    margin: 0;

    font-family: Arial, sans-serif;

    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);

    color: white;

    display: flex;

    justify-content: center;

    align-items: center;

    height: 100vh;

    text-align: center;

}

h1 {

    font-size: 40px;

    color: gold;

}

p {

    font-size: 20px;
}